*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
/node_modules
client_secret_792273673707-ekiibisf3te7rbsb1ikgqqjh3ipcldpf.apps.googleusercontent.com.json
client_secret_792273673707-m31avju0dkvch7dr7baordls3f0rfh0i.apps.googleusercontent.com.json